@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 1.5rem;
    color: #fff;
    background-color: #000000; /* or any background color you prefer */
}
.list {
    border: 1px solid red; /* Just for debugging */
  }
  